<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="rest"
            label="COM_REDSOCIALSTREAM_CONFIG_REST_TITLE"
            description="COM_REDSOCIALSTREAM_CONFIG_REST_TITLE_DESC">
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
            >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                validate="rules"
                filter="rules"
                component="com_redsocialstream"
                section="component"
                />
    </fieldset>
</config>
